.hide {
    opacity:0;
}

.left-slide {
    opacity:1;
    animation: slideLeft 1s;
    -webkit-animation: slideLeft 1s;
    -moz-animation: slideLeft 1s;
    -o-animation: slideLeft 1s;
    -ms-animation: slideLeft 1s;
  }
  
  .right-slide {
    opacity:1;
    animation: slideRight 1s;
    -webkit-animation: slideRight 1s;
    -moz-animation: slideRight 1s;
    -o-animation: slideRight 1s;
    -ms-animation: slideRight 1s;
  }
  
  .slide-down {
    opacity:1;
    animation: slideDown 1s;
    -webkit-animation: slideDown 1s;
    -moz-animation: slideDown 1s;
    -o-animation: slideDown 1s;
    -ms-animation: slideDown 1s;
  }
  
  .slide-out {
    opacity:1;
    animation: slideOut 1s;
    -webkit-animation: slideOut 1s;
    -moz-animation: slideOut 1s;
    -o-animation: slideOut 1s;
    -ms-animation: slideOut 1s;
  }
  
  .slide-up {
    opacity:1;
    animation: slideUp 1s;
    -webkit-animation: slideUp 1s;
    -moz-animation: slideUp 1s;
    -o-animation: slideUp 1s;
    -ms-animation: slideUp 1s;
  }
    
  .fade-in-image {
    opacity:1;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
  }
  
  .fade-in-element {
    opacity:1;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
  }
  
  @keyframes slideLeft {
    0%   { transform : translateX(+100vw); }
    100% { transform : translateX(0);      }
  }
  
  @keyframes slideRight {
    0%   { transform : translateX(-100vw); }
    100% { transform : translateX(0);      }
  }
  
  @keyframes slideDown {
    0%   { transform : translateY(-100vw); }
    100% { transform : translateY(0);      }
  }
  
  @keyframes slideOut {
    0%   { transform : translateY(0); }
    100% { transform : translateY(-100vw); }
  }
  
  @keyframes slideUp {
    0%   { transform : translateY(+100vw); }
    100% { transform : translateY(0);      }
  }
  
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }  